<h1>New Heroine</h1>
<%=form_for@heroine do |f| %><br>
<%=f.label "Name"%><br>
<%=f.text_field :name%><br>
<%=f.label "SuperName"%><br>
<%=f.text_field :super_name%><br>
<%=f.label "Power"%><br>
<%=collection_select(:heroine,:power_id,Power.all,:id,:name,:prompt => true)%>
<%=f.submit%>
<% end %>